<div class="games">
  {{#each this}}
  <section class="game m-2">
    {{!-- <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div> --}}
    <div class="text">
      <a href="/dashboard/edit-game/{{id}}" class="edit-link">{{title}}</a>
    </div>
  </section>
  {{/each}}
</div>