<div class="container">
<div class="column-left">
    <h1 class="columnheader">Game Collection</h1>
        <div class="card list-group-item">
                <div class="dropdown">

                    <button type="submit" class="btn btn btn-danger btn-lg ">Add List!</button>
                     
                </div>
        </div>
</div>
    <div class="column-right">
        <h1 class="columnheader">{{lists}}</h1>
            <div class="dropdown">
                <button type="submit" class="btn btn-danger btn-lg">Add Game!</button>
            </div>
    </div>
</div>