<div class="column">
    <h1 class="columnheader">Game Collection</h1>
        <div class="card">
                <div class="dropdown">

                    <button type="submit" class="btn">Add List</button>
                     
                </div>
        </div>
</div>