<div class="container">
    <div class="col">
        <h1 class="columnheader">Game Collection</h1>

        {{#if lists.length}}
        <section>
          <h2 class="my-lists">Your Lists</h2>
          <ul class="list-group list-group-flush m-1">
            {{#each lists as |list|}}
            <li class="list-group-item">
              {{!-- {{> list-info as |list|}} --}}
             
              <a href="/dashboard/edit/{{list.id}}" class="edit-link">{{title}}</a>
            </li>
            {{/each}}
          </ul>
        </section>
        {{/if}}

        {{!-- <div class="List-div">
          <ul class="lists" id="list-list">

          </ul>
        </div> --}}
        {{!-- <div class="card list-group-item"> --}}
                {{!-- <div class="dropdown">
                    <button type="submit" class="btn btn btn-danger btn-lg ">Add List!</button>
                     
                </div> --}}
        {{!-- </div> --}}

        
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        Add List
      </button>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="add-new-list-modal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="add-new-list-modal">Create A New List</h5>
            </div>
            <div class="modal-body">
                            
                <div id="myDIV" class="header">
                    <div class="list-input input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text modal-list-title" id="inputGroup-sizing-default">List Title:</span>
                        </div>
                        <input type="text" name="list-title" class="modal-form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        <span onclick="addList()" class="addBtn">Add</span>
                    </div>
                    {{!-- <input type="text" id="game-input" class="add-game-input"  placeholder="Game name">
                    <span onclick="newGame()" class="addBtn">Add</span>
                </div>
                
                <ul id="my-list" class="list-group list-group-flush">
                    <!-- <li class="list-group-item">Monopoly</li>
                    <li class="list-group-item">Yahtzee</li>
                    <li class="list-group-item">Mancala</li>
                    <li class="list-group-item">Checkers</li> -->
                </ul> --}}
  
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn save-list"><i class="fas fa-plus"></i>Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>




<script src="/javascript/add-list.js"></script>