<div class="container">
    <div class="row align-items-start"></div>
        <div class="col">
            <h1 class="columnheader">Games!</h1>
                {{#if game.length}}
        <section>
          <h2>{{game.title}}</h2>
          <ul>
            {{#each game as |games|}}
            <li>
                <img src="{{ }}">
                <a href="/dashboard/edit/{{game.id}}" class="edit-link">{{game-input}}</a>
            </li>
            {{/each}}
          </ul>
        </section>
        {{/if}}
        </div>
</div>

<script src="javascript/game.js"></script>