    <div class="hero">
      <div class="big-title">
        <h1>Are you a board game fanatic?</h1>
          <p> This is the right place to keep track of your collection of games! <br>
          <a href="/login">Sign up</a> to start building your list of favorite games that you want to play again, games that you hate and never want to see, or games that you want to buy and play. </p>
        </div>
    </div>