      <div class="content-box">
        <div class="tabs-wrapper container">
            <div class="row justify-content-end">
              <ul class="nav nav-pills float-right mb-3 " id="pills-tab" role="tablist">
                <li class="nav-item ">
                  <a class="nav-link active" id="login-form-tab" data-toggle="pill" href="#login-form" role="tab" aria-controls="login-form" aria-selected="true">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="signup-form-tab" data-toggle="pill" href="#signup-form" role="tab" aria-controls="signup-form" aria-selected="false">Sign Up</a>
                </li>
              </ul>
            </div>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="login-form" role="tabpanel" aria-labelledby="login-form-tab">
                 <div>
                      <h2>Login</h2>
                      <p>Welcome Back!</p>
                      <form class="login-form">
                        <div class="form-group">
                          <i class="material-icons">mail</i>
                          <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp" placeholder="Enter email">
                          <small class="form-text text-muted">Please use a unique email!</small>
                        </div>
                        <div class="form-group"> 
                          <i class="material-icons">lock</i>
                          <input type="password" class="form-control" id="password-login" placeholder="Password">
                        </div>
                        <button type="submit">Login</button>
                      </form>
        
                  </div>
              </div>
              <div class="tab-pane fade" id="signup-form" role="tabpanel" aria-labelledby="signup-form-tab">
                  <div>
                      <h2>Sign Up</h2>
                      <p>Welcome to Game Corner!</p>
                      <form class="signup-form" >
                        <div class="form-group">
                          <i class="material-icons">account_circle</i>
                          <input type="text" class="form-control" id="username-signup" placeholder="Enter username">
                        </div>
                        <div class="form-group">
                          <i class="material-icons">mail</i>
                          <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group"> 
                          <i class="material-icons">lock</i>
                          <input type="password" class="form-control" id="password-signup" placeholder="Password">
                        </div>
                        <button type="submit">Register</button>
                      </form>
        
                  </div>
              </div>
            </div>
        </div>
      </div>
          <script src='/javascript/login.js'></script>